---
sudo: required

env:
  matrix:
    - ANSIBLE_VERSION=2.4.2.0
    - ANSIBLE_VERSION=2.5.1
    - ANSIBLE_VERSION=2.4.2.0 SCENARIO=scenario-foo
    - ANSIBLE_VERSION=2.5.1 SCENARIO=scenario-foo

install:
  - bash bootstrap.sh

script:
  - make test
